<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pawppy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pawppy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pawppy">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Pawppy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".DogActivity" />
        <activity android:name=".CatActivity" />
        <activity android:name=".BirdActivity" />
    </application>

</manifest>